# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'

# - task: CopyFiles@2
#   inputs:
#     SourceFolder: 'public'
#     Contents: '**'
#     TargetFolder: 'views'

# - task: GitHubRelease@1
#   inputs:
#     gitHubConnection: 'ExplorationTest'
#     repositoryName: '$(Build.Repository.Name)'
#     action: 'create'
#     target: '$(Build.SourceVersion)'
#     tagSource: 'userSpecifiedTag'
#     tag: '$(Build.BuildNumber)'
#     changeLogCompareToRelease: 'lastFullRelease'
#     changeLogType: 'commitBased'

- checkout: self
  persistCredentials: true

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      Write-Host "Adding files to staging"
      $branchName = "translationBuild/$Env:BUILD_BUILDNUMBER"
      git pull
      git checkout -b $branchName
      
      Write-Host "Trying to loging to azure..."
      az login

      # $exclude = @('color.png', 'manifest.json', 'outline.png', 'src\KaizalaAggregationService\ActionResources\ActionPackages\out_of_box_checklist\teamsManifest\Local\strings.json')
      Write-Host "Copying translated files..."
      Copy-Item 'public' -Destination 'view' -Recurse -Force
      
      Write-Host "Adding changed files..."
      git add .
      Write-Host "Commiting changed files..."
      git commit -m "Translation build to copy translations"
      Write-Host "Pushing change..."
      git push origin $branchName
      
      Write-Host "Raising a pull request"
      az repos pr create --auto-complete true --delete-source-branch true --detect true --reviewers "isagga@microsoft.com" "varsharm@microsoft.com" -t "master" -s $branchName --description "Copyig translation strings from Local to Alpha, Preprod and Prod" --org "https://office.visualstudio.com/" -p "OC" -r "ActionsPlatform"